body{
    background-color: blanchedalmond;
}

table, th, td {
    border: 1px solid black;
    background-color: darkkhaki;
}
h2{
    color: red;
}

td{
    text-align: right;
    padding:3px;
}

td.left {
    text-align: left;
}
